@import url(header.css);
@import url(footer.css);


:root {
    --blanco: #ffffff;
    --grisClaro: #dcdcdc;
    --gris: #9f9f9f;
    --grisOscuro: #5B5B5B;
    --negro: #060606;
    --violeta: #a11aa0;
}

* {
    margin: 0px;
}
.contenedor {
    width: 98%;
    margin: auto;
}
body{
font-family: 'Rajdhani', sans-serif;
background-color:var(--gris);
}


/*main*/

main{
    align-items: center;
    text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
}

.login-box {
    background-color: #ffffff;
    padding: 15px 15px;
    border: 2px black solid;
    margin: auto;
    width: 80%;
    height: 300px;
    
}
.login-box form{
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-box input  {
    width: 80%;
    margin:5px;
    padding: 5px;
    border-radius: 3px;
    border-color: black;
 
}

.button-login:hover {
    color: rgba(107, 32, 135, 0.75);
    font-weight: bold;
   
}

.button-create-account {
    color: white;
    background-color: black;
}

.button-create-account:hover {
    background-color: rgba(107, 32, 135, 0.75);
   
}

@media (min-width:500px){
    .login-box {
        width: 60%; 
    }
    .login-box input  {
        width: 60%;
    }
}