<%- include("./partials/header.ejs",{css : "/css/createProducts.css"})%>
        <main>
            <section>
                <div class="create-box">
                    <h2>Agregar producto</h2>
                    <form class="create-form" action="/products" method="POST" enctype="multipart/form-data">
                        <div class="control-form">
                            <input name="name" type="text" class="control" placeholder="Nombre de tu producto">
                        </div>
                        <div class="control-form">
                            <textarea name="description" class="control"></textarea>
                        </div>
                        <div class="control-form">
                            <input name="image" type="file" accept=".jpg, .png" class="control">
                        </div>
                        <div class="control-form">
                            <input name="image2" type="file" accept=".jpg, .png" class="control">
                        </div>
                        <div class="control-form">
                            <select name="category" class="control">
                                <option value="music">Musica</option>
                                <option value="movies">Peliculas</option>
                            </select>
                        </div>
                        <div class="control-form">
                            <select name="color" class="control">
                                <option value="Negro">Negro</option>
                                <option value="Gris">Gris</option>
                                <option value="Blanco">Blanco</option>
                            </select>
                        </div>
                        <div class="control-form">
                            <select name="size" class="control">
                                <option>Talle</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                        <div class="control-form">
                            <input name="price" type="tel" placeholder="Precio" class="control">
                        </div>
                        <button type="submit" class="control">Agregar</button>
                    </form>
                </div>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>


</body>

</html>